.github/
.gitignore
.gitmodules
.git/

.dockerignore
docker-compose.yml
Dockerfile

test/

build/
*.log

.DS_Store
*.md

infrastructure/

src/views/**/*.templ
src/publish/**/*.templ
src/publish/*.md

publish/articles/base/*