package pages

import "github.com/RazvanBerbece/ant.dev/src/views/common"

templ Contact() {
	<!DOCTYPE html>
	<html lang="en">
		// <body>
		// 	// HTMX swaps will swap the inner div below with the responses from the server
		// 	<div id="main-content-container">
		// 		// all sorts of components in here
		// 	</div>
		// </body>
		@common.Head("ant.dev | Contact")
		<body>
			<div id="main" class="p-8 flex justify-center">
				<div class="w-10/12 bg-blue-100 dark:text-white dark:bg-slate-800">
					@common.Navbar()
					<div id="content-wrapper" class="p-4 flex flex-col items-center dark:text-white dark:bg-slate-800">
						<h1 class="pb-6">My links, socials, and contact details </h1>
						<div id="social-link-wrapper" class="flex mt-2 hover:underline">
							<img alt="linkedin logo" src="https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png" width="25" height="25"/>
							<a href="https://www.linkedin.com/in/razvan-antonio-berbece-b8b405198/" class="pl-2">Linkedin</a>
						</div>
						<div id="social-link-wrapper" class="flex mt-2 hover:underline">
							<img alt="github logo" src="https://cdn.pixabay.com/photo/2022/01/30/13/33/github-6980894_1280.png" width="25" height="25"/>
							<a href="https://github.com/RazvanBerbece" class="pl-2">GitHub</a>
						</div>
						<div id="social-link-wrapper" class="flex mt-2 hover:underline">
							<img alt="discord logo" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/6f6ea8cb-3749-41bc-8826-32d680d113b5/dfjjirj-1b83a303-d1d7-42f2-ba9f-f025447535b7.png/v1/fill/w_894,h_894,q_70,strp/discord_logo__my_version___original__by_nyanfan95_dfjjirj-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTI4MCIsInBhdGgiOiJcL2ZcLzZmNmVhOGNiLTM3NDktNDFiYy04ODI2LTMyZDY4MGQxMTNiNVwvZGZqamlyai0xYjgzYTMwMy1kMWQ3LTQyZjItYmE5Zi1mMDI1NDQ3NTM1YjcucG5nIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.rnMB8qDn9pGVl6YEZBe3erHxLYLcDfYROuHPE_Ltd44" width="25" height="25"/>
							<a class="pl-2">Discord: antoniozrd</a>
						</div>
					</div>
					@common.Footer()
				</div>
			</div>
		</body>
	</html>
}
