package components

import "fmt"

templ ArticleThumbnail(id int, articleName string, previewText string, createdAt string) {
	<div class="mt-6 dark:bg-slate-800 hover:bg-gray-500">
		<a href={templ.URL(fmt.Sprintf("/articles/%d", id))} class="text-current"> { articleName } </a>
		<hr/>
		<p> { previewText } </p>
		<h5> { createdAt } </h5>
	</div>
}
